PROJECT_NAME=CacheMesh
LOG_LEVEL=INFO
ENVIRONMENT=development

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8000
NAME_SERVICE_URL=http://name-service:8100
GATEWAY_REPLICA_TARGETS=replica-a=http://replica-a:8201,replica-b=http://replica-b:8202,replica-c=http://replica-c:8203
GATEWAY_REPLICA_URLS=http://replica-a:8201,http://replica-b:8202,http://replica-c:8203

NAME_SERVICE_URL=http://name-service:8100
NAME_SERVICE_HOST=0.0.0.0
NAME_SERVICE_PORT=8100

REPLICA_ID=replica-a
REPLICA_HOST=0.0.0.0
REPLICA_PORT=8201
REPLICA_ADVERTISED_HOST=replica-a
REPLICA_ADVERTISED_PORT=8201
REPLICA_PEER_TARGETS=replica-a=http://replica-a:8201,replica-b=http://replica-b:8202,replica-c=http://replica-c:8203

QDRANT_URL=http://qdrant-a:6333
QDRANT_COLLECTION=cachemesh_entries
SEMANTIC_EMBEDDING_MODEL_ID=sentence-transformers/all-MiniLM-L6-v2
SEMANTIC_VECTOR_SIZE=384
SEMANTIC_SCORE_THRESHOLD=0.72

REQUEST_TIMEOUT_SEC=2.0
HEARTBEAT_INTERVAL_SEC=1.0
SUSPECT_AFTER_MISSES=3
UNHEALTHY_AFTER_MISSES=5

FAULT_MODE=disabled
FAULT_DURATION_SEC=10

INFERENCE_ADAPTER_URL=http://inference-adapter:8050

